Security/Remote/Colosoft.Security.Remote.Client/Service References/ProfileProviderServiceReference/ProfileProviderService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Colosoft.com.br/2011/webservices/security/rolepermission" elementFormDefault="qualified" targetNamespace="http://Colosoft.com.br/2011/webservices/security/rolepermission" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PermissionSet">
    <xs:sequence>
      <xs:any />
    </xs:sequence>
    <xs:anyAttribute />
  </xs:complexType>
  <xs:element name="PermissionSet" nillable="true" type="tns:PermissionSet" />
  <xs:complexType name="RolePermissionSet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Permissions" nillable="true" type="tns:PermissionSet" />
    </xs:sequence>
    <xs:attribute name="Role" type="xs:string" use="required" />
  </xs:complexType>
  <xs:element name="RolePermissionSet" nillable="true" type="tns:RolePermissionSet" />
  <xs:complexType name="ArrayOfRolePermissionSet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RolePermissionSet" nillable="true" type="tns:RolePermissionSet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRolePermissionSet" nillable="true" type="tns:ArrayOfRolePermissionSet" />
  <xs:complexType name="ProfileRoleSet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="RolePermissionSets" nillable="true" type="tns:ArrayOfRolePermissionSet" />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" use="required" />
  </xs:complexType>
  <xs:element name="ProfileRoleSet" nillable="true" type="tns:ProfileRoleSet" />
  <xs:complexType name="ProfileProperty">
    <xs:sequence>
      <xs:any />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" use="required" />
    <xs:attribute name="Description" type="xs:string" use="required" />
    <xs:attribute name="Type" type="xs:string" use="required" />
  </xs:complexType>
  <xs:element name="ProfileProperty" nillable="true" type="tns:ProfileProperty" />
  <xs:complexType name="ArrayOfProfileProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProfileProperty" nillable="true" type="tns:ProfileProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfileProperty" nillable="true" type="tns:ArrayOfProfileProperty" />
</xs:schema>