Security/Remote/Colosoft.Security.Remote.Client/Service References/ProfileProviderServiceReference/ProfileProviderService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3911/ProfileProviderService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:3911/ProfileProviderService.svc?xsd=xsd1" namespace="http://Colosoft.com.br/2011/webservices/remote/profile" />
  <xs:element name="DeleteProfiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="usernames" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProfilesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProfilesByProfileInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://Colosoft.com.br/2011/webservices/remote/profile" minOccurs="0" name="profiles" nillable="true" type="q2:ArrayOfProfileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProfilesByProfileInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProfilesByProfileInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProfilesByUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usernameToMatch" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProfilesByUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://Colosoft.com.br/2011/webservices/remote/profile" minOccurs="0" name="FindProfilesByUserNameResult" nillable="true" type="q3:ArrayOfProfileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProfiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://Colosoft.com.br/2011/webservices/remote/profile" minOccurs="0" name="GetUserProfilesResult" nillable="true" type="q4:ArrayOfProfileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://Colosoft.com.br/2011/webservices/remote/profile" minOccurs="0" name="info" nillable="true" type="q5:ProfileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://Colosoft.com.br/2011/webservices/remote/profile" minOccurs="0" name="GetProfileResult" nillable="true" type="q6:Profile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://Colosoft.com.br/2011/webservices/remote/profile" minOccurs="0" name="GetSourceResult" nillable="true" type="q7:AuthenticationSource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProfilePropertyValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://Colosoft.com.br/2011/webservices/remote/profile" minOccurs="0" name="info" nillable="true" type="q8:ProfileInfo" />
        <xs:element minOccurs="0" name="propertyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="propertyType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="propertyValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProfilePropertyValueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>