Security/Remote/Colosoft.Security.Remote.Client/Service References/ProfileProviderServiceReference/ProfileProviderService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:security="http://Colosoft.com.br/2011/webservices/security/rolepermission" xmlns:tns="http://Colosoft.com.br/2011/webservices/remote/profile" elementFormDefault="qualified" targetNamespace="http://Colosoft.com.br/2011/webservices/remote/profile" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthenticationSource">
    <xs:sequence>
      <xs:element name="FullName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationSource" nillable="true" type="tns:AuthenticationSource" />
  <xs:complexType name="DateTimeOffset">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="OffsetMinutes" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DateTimeOffset" type="tns:DateTimeOffset" />
  <xs:complexType name="ProfileInfo">
    <xs:sequence>
      <xs:element minOccurs="1" name="ProfileId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="LastActivityDate" type="tns:DateTimeOffset" />
      <xs:element minOccurs="1" maxOccurs="1" name="LastUpdatedDate" type="tns:DateTimeOffset" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="tns:AuthenticationSource" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsAnonymous" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfileInfo" nillable="true" type="tns:ProfileInfo" />
  <xs:complexType name="ArrayOfProfileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProfileInfo" nillable="true" type="tns:ProfileInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfileInfo" nillable="true" type="tns:ArrayOfProfileInfo" />
  <xs:complexType name="Profile">
    <xs:sequence>
      <xs:element minOccurs="0" name="DefaultValueGroupId" type="xs:int" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupRoleId" type="xs:int" />
      <xs:element minOccurs="0" name="IsAnonymous" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastActivityDate" type="tns:DateTimeOffset" />
      <xs:element minOccurs="0" name="LastUpdatedDate" type="tns:DateTimeOffset" />
      <xs:element minOccurs="0" name="ProfileId" type="xs:int" />
      <xs:element minOccurs="0" name="Properties" nillable="true" type="security:ArrayOfProfileProperty" />
      <xs:element minOccurs="0" name="RoleSet" nillable="true" type="security:ProfileRoleSet" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="tns:AuthenticationSource" />
      <xs:element minOccurs="0" name="SourceId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Profile" nillable="true" type="tns:Profile" />
</xs:schema>