Security/Remote/Colosoft.Security.Remote.Client/Service References/TokenProviderServiceReference/TokenProviderService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Colosoft.Security" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Colosoft.Security" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TokenConsultResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TokenConsultResult" nillable="true" type="tns:TokenConsultResult" />
  <xs:complexType name="TokenPingResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Status" type="tns:TokenPingResultStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TokenPingResult" nillable="true" type="tns:TokenPingResult" />
  <xs:simpleType name="TokenPingResultStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="InvalidToken" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TokenPingResultStatus" nillable="true" type="tns:TokenPingResultStatus" />
</xs:schema>