Security/Remote/Colosoft.Security.Remote.Client/Service References/TokenProviderServiceReference/TokenProviderService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3911/TokenProviderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Colosoft.Security" />
  <xs:element name="Check">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Colosoft.Security" minOccurs="0" name="CheckResult" nillable="true" type="q1:TokenConsultResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Colosoft.Security" minOccurs="0" name="PingResult" nillable="true" type="q2:TokenPingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>