Security/Remote/Colosoft.Security.Remote.Client/Service References/TokenProviderServiceReference/TokenProviderService34.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Colosoft.Security" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Colosoft.Security" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TokenConsultResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProfileId" type="xs:int" />
      <xs:element minOccurs="0" name="ProfileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TokenConsultResult" nillable="true" type="tns:TokenConsultResult" />
  <xs:complexType name="TokenSetProfileResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TokenSetProfileResult" nillable="true" type="tns:TokenSetProfileResult" />
</xs:schema>